<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>회원 정보</title>
</head>
<body>
<h1>회원 정보</h1>

<table border="1">
  <tr>
    <th>회원 ID</th>
    <td th:text="${accountInfoDto.accountId}">회원 ID</td>
  </tr>
  <tr>
    <th>사용자 이름</th>
    <td th:text="${accountInfoDto.username}">사용자 이름</td>
  </tr>
  <tr>
    <th>이메일</th>
    <td th:text="${accountInfoDto.email}">이메일</td>
  </tr>
  <tr>
    <th>역할(Role)</th>
    <td th:text="${accountInfoDto.role}">역할</td>
  </tr>
  <tr>
    <th>상태(Status)</th>
    <td th:text="${accountInfoDto.status}">상태</td>
  </tr>
</table>

<a href="/">홈으로</a>
</body>
</html>

